:host {
  @apply flex items-center justify-center pt-10;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.instructions {
  margin-bottom: 2rem;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 700px;
}

.card {
  flex: 1;
  max-width: 400px;
}

.file-upload {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.file-name {
  font-style: italic;
}

.divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.text-to-speech {
  margin-top: 2rem;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
}

.full-width {
  width: 100%;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent!important;
  border: 1px solid #b9b9b9;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .divider {
    flex-direction: row;
  }

  .divider mat-divider {
    width: 100px;
  }
}
